@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorWasmApp22SamplesMud</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@


<MudPaper Width="250px" Elevation="0">
	<MudNavMenu Rounded="true" Margin="Margin.Normal" Color="Color.Tertiary" Class="pa-2">
		<MudNavLink Href="" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
		<MudNavLink Href="counter" Icon="@Icons.Material.Filled.PlusOne">Counter</MudNavLink>
		<MudNavLink Href="weather" Icon="@Icons.Material.Filled.Cloud">Weather</MudNavLink>
		<MudNavLink Href="buttons_and_alerts" Icon="@Icons.Material.Filled.BatteryAlert">Alerts</MudNavLink>
	</MudNavMenu>
</MudPaper>

@code {
	// counter, weather, buttons_and_alerts
	// Match="NavLinkMatch.Prefix" it was on weather

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
